.listContainer {
    width: 60%;
    display: flex;
    /* background-color: bisque; */
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    justify-content: center;
    border-collapse: separate;
    border-spacing: 0px 5px;
}

.listItem {
    text-align: left;
    font-size: 30px;
}

.listItem>td {
    border-radius: 2px;
    background-color: rgb(243, 243, 243);
}

.listHeader {
    text-align: left;
}